
<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>


<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </section>
  </div>

  <br>
  <br>

  <section>
    <div class="grow  -mt-20 sm:mt-0	 ">
      <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card     bg-base-300        rounded-box place-items-center p-8">

          <h1 class="text-4xl font-bold text-center lg:text-left uppercase">
            Login
          </h1>

          <div class="bg-base-200 shadow rounded ">


            <button aria-label="Login with Google" role="button" class=" bg-base-300 focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
            <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="google">
            <p class="text-base font-medium ml-4 text-neutral-content"><a href="auth/google">Login with Google</a></p>
            </button>

            <button aria-label="Login with Twitter" role="button" class="bg-base-300 focus:outline-none     focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
            <img src="https://img.icons8.com/color/48/000000/instagram-logo.png" alt="Instagram">
            <p class="text-base font-medium ml-4 text-neutral-content"> <a href="auth/Instagram">Login with Instagram</a></p>
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>
        
</main>

<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>
